h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* ======== MOBILE HEADR ======== */

.menu {
  display: none;
}

.contact {
  display: none;
}

.page-header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link {
  color: #2e2f42;
  transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: #404bbf;
}

.logo-link:hover,
.logo-link:focus {
  color: #404bbf;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding: 16px 0;
  }

  /* ======== MOBILE MENU ======== */

  .mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    fill: #2f2f37;
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #f4f4fd;
    transform: translateX(100%);
    transition: transform 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }

  .container-mobile-menu {
    position: relative;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 0;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms
        cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms
        cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .mobile-menu-close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover
    .close-btn-icon,
  .mobile-menu-close-btn:focus
    .close-btn-icon {
    fill: #ffffff;
  }

  .mobile-menu-navigation {
    padding-top: 72px;
    margin-bottom: 162px;
  }

  .mobile-menu-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .mobile-menu-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    margin-bottom: 40px;
    transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }

  .mobile-menu-contact-item {
    margin-bottom: 24px;
  }

  .mobile-menu-contact-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;

    transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-contact-link:hover,
  .mobile-menu-contact-link:focus {
    color: #404bbf;
  }

  .mobile-menu-cocial {
    padding-top: 24px;
  }

  .mobile-menu-cocial-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
  }

  .mobile-menu-cocial-item-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-cocial-icon-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0px solid transparent;
    transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-cocial-icon-link:hover,
  .mobile-menu-cocial-icon-link:focus {
    background-color: #404bbf;
  }

  .mobile-menu-cocial-icon {
    fill: #f4f4fd;
  }

  /* ======== /MOBILE MENU ======== */
}

/* ======== /MOBILE HEADR ======== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/*====== MOBILE HERO ======*/

.hero {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/fon/office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 768px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fon/office-mob@2x.jpg);
  }
}

.hero-title {
  color: #fff;
  max-width: 160px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*====== /MOBILE HERO ======*/

/* ====== MOBILE FEATURE ======*/

.feature {
  padding-top: 96px;
  padding-bottom: 96px;
}
.feature-list {
  display: inline-flex;
  flex-direction: column;
  gap: 72px;
}

.feature-item-icon {
  display: none;
}

.feature-item-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ====== /MOBILE FEATURE ======*/

/* ====== MOBILE TEAM ======*/

.team {
  background-color: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px
      rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px
      rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px
      rgba(46, 47, 66, 0.08);
}

.team-item-content {
  padding: 32px 0;
}
.team-item-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-link-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.team-item-icon {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0px solid transparent;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/* ====== /MOBILE TEAM ======*/
/* ====== MOBILE PORTFOLIO ======*/

.portfolio {
  padding-bottom: 96px;
  padding-top: 96px;
}
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px
      rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px
      rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px
      rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  color: #f4f4fd;
  background: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0%);
}

.portfolio-item-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-size: 20px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item-content {
  border: 1px solid #e7e9fc;
  border-top: 0;
  background-color: #fff;
  padding: 32px 16px;
}

/* ====== /MOBILE PORTFOLIO ======*/

/* ====== MOBILE FOOTER ======*/

.footer-list {
  background-color: #2e2f42;
  padding-bottom: 96px;
  padding-top: 96px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  width: 115px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  outline: 0px solid transparent;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-link {
  color: #f4f4fd;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus {
  color: #404bbf;
}

.footer-logo-link:hover,
.footer-logo-link:focus {
  color: #404bbf;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.cocial-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.cocial-list {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.cocial-item-icon {
  width: 40px;
  height: 40px;
}

.cocial-icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0px solid transparent;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.cocial-icon-link:hover,
.cocial-icon-link:focus {
  background-color: #31d0aa;
}

.cocial-icon {
  fill: #f4f4fd;
}

.form-text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-footer {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  outline: 0px solid transparent;
  filter: drop-shadow(
    0px 4px 4px rgba(0, 0, 0, 0.15)
  );
}

.form-input::placeholder {
  color: #fff;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  outline: 0px solid transparent;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-btn-icon {
  fill: #fff;
  margin-left: 16px;
}
/* ====== /MOBILE FOOTER ======*/

/* ====== MOBILE BACKDROP  ======*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* ====== /MOBILE BACKDROP  ======*/

/* ====== MOBILE MODAL WINDOW  ======*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 16px 16px 16px;
  box-shadow: 0px 1px 1px
      rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: #ffffff;
}

.modal-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-fiald {
  margin-bottom: 8px;
}

.modal-fiald-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon-input {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid
    rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: 0px solid transparent;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-fiald-comment {
  margin-bottom: 16px;
}

.modal-comment {
  height: 120px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid
    rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  background-color: transparent;
  resize: none;
  outline: 0px solid transparent;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
}

.modal-checkbox-label-color {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-checkbox-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid
    rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked
  + .modal-checkbox-label
  > .modal-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-input:focus
  + .modal-checkbox-label
  > .modal-checkbox-span {
  border-color: #4d5ae5;
}

.modal-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}

.modal-checkbox-input:checked
  + .modal-checkbox-label
  .modal-checkbox-icon {
  opacity: 1;
}

.modal-btn {
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px
    rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
/* ====== /MOBILE MODAL WINDOW  ======*/

/* ====== TABLET ====== */
@media screen and (min-width: 769px) {
  .container {
    max-width: 768px;
  }
  /* ======== TABLET HEADR ======== */
  .mobile-menu-btn {
    display: none;
  }
  .container-mobile-menu {
    display: none;
  }
  .page-navigation {
    display: flex;
    width: 450px;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    display: block;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio {
    position: relative;
    color: #404bbf;
  }

  .studio::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .contact {
    display: block;
  }

  .contact-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .contact-item {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-item:hover,
  .contact-item:focus {
    color: #404bbf;
  }
  /* ======== /TABLET HEADR ======== */
  /* ======== TABLET HERO ======== */
  .hero {
    background-color: #2e2f42;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fon/office-tab.jpg);
    max-width: 1157px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/fon/office-tab@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }

  /* ======== /TABLET HERO ======== */
  /* ====== TABLET FEATURE ======*/
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    flex-direction: row;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-item-title {
    text-align: left;
  }
  /* ====== /TABLET FEATURE ======*/
  /* ====== TABLET TEAM ======*/
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
  /* ====== /TABLET TEAM ======*/
  /* ====== TABLET PORTFOLIO ======*/
  .portfolio-list {
    gap: 72px 24px;
  }
  /* ====== /TABLET PORTFOLIO ======*/
  /* ====== TABLET FOOTER ======*/

  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 584px;
  }

  .footer-logo {
    margin-left: 0;
  }

  .cocial-title {
    text-align: left;
  }

  .form-text {
    text-align: left;
  }

  .form-footer {
    gap: 24px;
    flex-direction: row;
  }

  .form-input {
    width: 264px;
  }
  /* ====== /TABLET FOOTER ======*/

  /* ====== TABLET MODAL WINDOW  ======*/
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  /* ====== /TABLET MODAL WINDOW  ======*/
}
/* ====== /TABLET ====== */

/* ======== DESKTOP ======== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* ======== DESKTOP HEADR ======== */
  .contact-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }

  .contact-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ======== /DESKTOP HEADR ======== */
  /* ======== DESKTOP HERO ======== */
  .hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/fon/office-des.jpg);
    max-width: 1440px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/fon/office-des@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
  /* ======== /DESKTOP HERO ======== */
  /* ====== DESKTOP FEATURE ======*/

  .feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .feature-list {
    gap: 24px;
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .feature-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  /* ====== /DESKTOP FEATURE ======*/

  /* ====== DEKSTOP TEAM ======*/
  .team {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  /* ====== /DEKSTOP TEAM ======*/

  /* ====== DEKSTOP PORTFOLIO ======*/
  .portfolio {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  /* ====== /DEKSTOP PORTFOLIO ======*/
  /* ====== DEKSTOP FOOTER ======*/
  .footer-list {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .footer {
    gap: 0;
  }

  .logo-footer {
    margin-right: 120px;
  }

  .form {
    margin-left: auto;
  }
  /* ====== /DEKSTOP FOOTER ======*/
}
/* ======== /DESKTOP ======== */
